<script setup>
import { RouterLink, RouterView } from 'vue-router'
import {store} from '../store'
</script>

<script>
export default {
  computed: {
    count () {      
      return store.state.count
    }    
  },
  methods: {
  increment() {
    this.$store.commit('increment')
    console.log(this.$store.state.count)
  },
  modifyProfile(){
    this.payload.profileName=this.profileName
    this.payload.profileMail=this.profileMail
    this.$store.commit('modifyProfile',this.payload)
  }
},
data() {
    return {
      profileName:"",
      profileMail:"",
      payload:{profileName:"",profileMail:""}
    }
  },
}
</script>

<template>
  <header>
    <h1>Secondary Component</h1>
    <div class="wrapper">
      <p>Nombre</p>
      <input :value="profileName"
  @input="event => profileName = event.target.value" v-validate="this.profileName">
  <br/>
  <p>Correo</p>
  <input :value="profileMail"
  @input="event => profileMail = event.target.value" v-validate="this.profileMail">
  <br/>
  <button @click="modifyProfile" >Modify Profile</button>
      
  <p>Si se escribe "red" el texto del elemento cambiara a ese respectivo color</p>
    </div>

  </header>

  <RouterView />
</template>
