<script setup>
import { RouterLink, RouterView } from 'vue-router'
import {store} from '../store'
</script>

<script>
export default {
  computed: {
    count () {
      return store.state.count
    }
  },
  methods: {
    increment() {
      this.$store.commit('increment')
    },
  }
}
</script>

<template>
  <header>
    <h1>Main Component</h1>
    <div class="wrapper">
      <p>Valor del contador {{ count }}</p>
      <button @click="increment" >Incrementar valor</button>
      
    </div>
  </header>

  <RouterView />
</template>
