<script>


import LoginButton from "@/components/buttons/loginButton.vue";
import { useAuth0 } from '@auth0/auth0-vue';

export default {
    data() {
    return {
      show: true
    }    
  },
  setup() {
      const { loginWithRedirect } = useAuth0();
      const { logout } = useAuth0();
      const { isAuthenticated,user } = useAuth0();
      return {
        isAuthenticated,
        user,
        login: () => {
          loginWithRedirect(
            {
                screen_hint: "signup",
      appState: {
        target: "/home",
      }
            }
          );
        },
        logout: () => {
          logout({ logoutParams: { returnTo: window.location.origin } });
        }
      };
    },
    updated(){
      isAuthenticated= { isAuthenticated } = useAuth0();
    }
}
</script>

<template>
    <button v-on:click="show = !show" class="sideButton">
    Mostrar/Ocultar barra lateral
  </button>
  
    

    <transition name="slide-fade" >
      
        <div v-if="show" id="demo" class="side" key="1">
          <template v-if="!isAuthenticated">
            not logged in
            <button @click="login">Log in or sign up</button>
          </template>
          <template v-if="isAuthenticated">
            {{ user.name }} esta logeado
            <button @click="logout">Log out</button>
          </template>
  </div>
        <!-- <p v-if="show">hola</p> -->
</transition>


</template>

<style>
.slide-fade-enter-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}


.side{
    border-right-style: solid;
    border-color: aliceblue;
    background-color: white;
    float: left;
    top: 0px;
    left:0px;
    padding-left: 10px;
    padding-top: 20px;
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
}

.sideButton{
    float: left;
    top: 1px;
    left:1px;
    position: fixed;
    z-index: 2;
    overflow-y: auto;
}
</style>