<script setup>
import { RouterLink, RouterView } from 'vue-router'
import {store} from './store'
import SideBar from './components/SideBar.vue'

import { useAuth0 } from "@auth0/auth0-vue";

const { isAuthenticated } = useAuth0();
</script>

<script>


export default {
  computed: {
    count () {
      return store.state.count
    },
    name(){
      return store.state.name
    },
    mail(){
      return store.state.mail
    }
  }
}
</script>

<template>
  
  <SideBar is-authenticated="isAuthenticated"/>
  <header>
    
    <h1>Contador</h1> 
    <div class="wrapper">   
        
      <nav>
        <RouterLink to="/home">Contador</RouterLink> /
        <RouterLink to="/about">Directiva</RouterLink>
        <br/>
        <p v-theme="`primary`">Contador: {{ count }}</p>                      
        <p v-theme="`secondary`">Nombre: {{ name }}</p>                 
        <p v-theme="`tertiary`">Mail: {{ mail }}</p> 
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style>
</style>
